<html>
	<head>
		<title>Dorkiness FTW</title>
	</head>
	<body>
		<div>
			<h1><a href="">Quirky Log</a></h1>
		</div>
		<div>
			<p>published: 12.12.2015, 12:22</p>
			<h2><a href="">My First Post</a></h2>
			<p>
				Who's your friend who likes to play?<br>
				Bing Bong, Bing Bong<br>
				His rocket makes you yell "Hooray!"<br>
				Bing Bong, Bing Bong<br>
				Who's the best in every way, and wants to sing this song to say<br>
				Bing Bong, Bing Bong!
			</p>
		</div>
		<div>
			<p>published: 12.12.2015, 12:22</p>
			<h2><a href="">My Second Post</a></h2>
			<p>
				Who's your friend who likes to play?<br>
				Bing Bong, Bing Bong<br>
				His rocket makes you yell "Hooray!"<br>
				Bing Bong, Bing Bong<br>
				Who's the best in every way, and wants to sing this song to say<br>
				Bing Bong, Bing Bong!
			</p>
		</div>
	</body>
</html>